body {
    background: #f0f2f7;
    color: #303438;
    font-size: 18px;
}
.container--my {
    max-width: 732px;
    padding: 0 16px;
}

.btn.back-btn {
    position: fixed;
    top: 8px;
    padding: 6px 24px 8px;
    border-radius: 50px;    
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    backdrop-filter: saturate(1.8) blur(20px);
}

.btn {
    border-radius: 40px;
    font-size: 18px;
    line-height: 24px;
    margin-right: 16px;
    padding: 8px 24px 10px;
}

.work-card {
    border-radius: 32px;    
    margin: 0 0 32px;
    padding: 0 16px 16px;
    background: #fff;
    overflow: hidden;
}
.work-card__link {
    color: #303438;
    text-decoration: none;
}

.work-card__link:hover, .work-card__link:active {
    color: #303438;
    text-decoration: underline;
}
.work-card__img {
    max-width: 700px;
    width: calc(100% + 32px);
    margin: 0 -16px 16px;
}
.work-card__title {
    font-size: 24px;
    margin: 0;
}
.work-card__subtitle {
    line-height: 20px;
    color: #707478;
}
.work-card__descr {
    margin-bottom: 32px;
}
.work-card__btn {
    margin-right: 16px;
}

.inner-title {
    margin-top: 3.5rem;
    margin-bottom: 0;
}

.svg-ico {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    fill: currentColor
}

.inner__img {
    width: 100%;
    max-width: 700px;
    border-radius: 16px;
    margin: 0 0 16px;
}

@media(max-width: 500px) {
    .container--my {
        padding-bottom: 48px;
    }
    .work-card__btn:not(:last-child) {
        margin-bottom: 16px;
    }
    .btn.back-btn {
        position: fixed;
        top: auto;
        bottom: 8px;
    }
    .svg-ico {
        top: -1px;
    }
}